<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ll.wagesmanager.mapper.WagesMapper">

    <sql id="column_key">
        id,num,`year`,`month`,base_wages,addtion,overtime,`sum`,user_id,ycqts,yk
    </sql>
    <sql id="column_value">
        uuid(),#{num},#{year},#{month},#{baseWages},#{addtion},#{overTime},#{sum},#{userId},#{ycqts},#{yk}
    </sql>
    <insert id="createOne">
        insert into wages (<include refid="column_key"/>) VALUES (<include refid="column_value"/>)
    </insert>

    <select id="findByUserId">
        select * from wages
        <where>
            <trim suffixOverrides=",">
                user_id = #{userId}
                <if test="month!=null and month!=''">
                   and `month` = #{month},
                </if>
                <if test="year!=null and year!=''">
                   and `year` = #{year},
                </if>
            </trim>
        </where>
    </select>

    <select id="queryPageByMap" resultType="com.ll.wagesmanager.entity.WagesDto">
        select w.id,num,year,month,base_wages as baseWages,addtion,overtime,sum ,user_id as userId,u.name as userName,w.yk,
        ycqts from wages w JOIN  user u on u.id = w.user_id where u.is_delete = 0 and w.is_delete = 0
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="queryPageByMapCount" resultType="java.lang.Long">
        select count(1) from wages w JOIN  user u on u.id = w.user_id where u.is_delete = 0 and w.is_delete = 0
    </select>

    <update id="updateOne" parameterType="com.ll.wagesmanager.entity.Wages">
            update wages
            <set>
                <trim suffixOverrides=",">
                <if test="year!=null">
                    `year` = #{year},
                </if>
                    <if test="month!=null">

                        month = #{month},
                    </if>
                    <if test="baseWages!=null">
                        base_wages = #{baseWages},
                    </if>
                    <if test="addtion!=null">
                        addtion = #{addtion},
                    </if>
                    <if test="overTime!=null">
                        overTime = #{overTime},
                    </if>
                    <if test="yk!=null">
                        yk = #{yk},
                    </if>
                    <if test="sum!=null">
                        sum = #{sum},
                    </if>
                    <if test="isDelete!=null">
                        is_delete = #{isDelete},
                    </if>
                </trim>
            </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findOne" resultType="com.ll.wagesmanager.entity.WagesDto">
      select   w.id,num,year,month,base_wages as baseWages,addtion,overtime,sum ,user_id as userId,u.name as userName,w.yk,
        ycqts from wages w JOIN  user u on u.id = w.user_id where u.is_delete = 0 and w.id = #{id} and w.is_delete = 0
    </select>


    <update id="deleteOne">
        update wages set is_delete = 1 where id = #{id}
    </update>
</mapper>